
<div class="shadow-lg p-3 mb-5 bg-black rounded">
  <div class="card" style="width: 20rem;">
    <img src={{img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Based on Gamers Choice Games Of The Year Collections</p>
      <a href="#" class="btn btn-primary">FitGirl's Repack</a>
      
      
    </div>
  </div>
</div>
<!-- <div class="card" style="width: 20rem;">
    <img src={{img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BEST GAMES AVAILABLE</h5>
      <p class="card-text">Based on Gamers Choice Games Of The Year Collections</p>
      <a href="#" class="btn btn-primary">FitGirl's Repack</a>
    </div>
  </div> -->

